.navbar-header {
    background-color: rgba(47, 70, 79, 1);
    border-color: transparent;
}

.navbar-header .navbar-collapse>ul>li>div>a {
    color: #ffff;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    font-size: .8em;
    margin-left: 15px;
    margin-right: 15px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-brand img {
    margin-top: -25px;
    height: 140px;
}

.navbar-brand>img {
    display: show;
}

img {
    vertical-align: middle;
}

body {
    font-family: 'Lato';
}

@media (min-width: 768px) {
    .navbar-nav>li>div>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header-banner {
    background-position: bottom center, center center;
    padding: 10px 0 200px 0;
    background-attachment: scroll;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, cover;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
    /* height: auto !important; */
    text-align: center;
}

.home-bg {
    background-position: center;
    padding: 0px 0 250px 0;
    background-size: cover;
    height: 100vh;
}

nav {
    height: auto !important;
}

.banner-tag-line {
    padding-bottom: 100px;
    padding-top: 15%;
    font-size: 5.1em;
    margin-left: 25%;
    margin-right: 26%;
}

h1 {
    color: white;
    /* margin-top: 7%; */
    line-height: 100%;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 8px #000;
    padding-bottom: 100px;
    padding-top: 30px;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 1.9em;
    font-weight: 600;
}

p,
li {
    font-size: 1.4em;
}

section {
    padding: 0px 0px;
}

.nav-item.dropdown.show>ul {
    background-color: #2f464f;
}

.nav-item {
    text-align: left
}

#navbutton:focus {
    border: 1px solid white;
}

.navbar .navbar-nav>li>div>a:hover {
    color: #ffff !important;
    background-color: #93d5eb;
}

.dropdown-toggle::after {
  display: none;
}

@media (min-width: 576px) {
    .container {
        max-width: 700px !important;
    }
}

@media only all and (max-width: 900px) {
    /* .navbar-brand {
        display: none;
    } */
    .navbar-dark .navbar-nav .nav-link {
        font-size: .7em;
        color: #ffff;
        font-weight: 600;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 4px;
    }
    .banner-tag-line {
        padding-bottom: 100px;
        padding-top: 15%;
        font-size: 4em;
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media only all and (max-width: 575px) {
    /* .navbar-brand {
        display: none;
    } */
    .home-bg>.banner-tag-line {
        font-size: 3.1em !important;
        margin-left: 0% !important;
        margin-right: 0% !important;
    }
    #navbarsExample11>ul>li.nav-item.dropdown.show>ul {
        background-color: #2f464f;
    }
    #navbarsExample11>ul {
        padding-top: 110px;
        text-align: left;
    }
    .dropdown-menu.show {
        display: grid;
    }
    .divider {
        margin-left: 15px;
        text-align: left;
    }
    .ml-auto,
    .mx-auto {
        background-color: #2f464f;
        margin-left: 0 !important;
        width: 100%;
        /* margin-top: 50%; */
    }
    .row {
        margin-left: auto !important;
    }
}

.navbar-toggler {
    float: left;
    margin-left: 3vw;
    margin-top: 1vh;
}

.navbar-brand {
    float: right;
}

section>nav>div>button {
    float: right;
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#navbarsExample11>ul {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media only all and (max-width: 470px) {
    .banner-tag-line {
        padding-bottom: 100px;
        padding-top: 50%;
        font-size: 2em;
        margin-left: 5%;
        margin-right: 5%;
    }
    .row {
        margin-left: auto !important;
    }
    #navbarsExample11>ul {
        padding-top: 90px;
    }
}

@media (max-width: 576px) {
    .collapseul {
        margin-top: 6em;
    }
}

@media only all and (min-width: 576px) {
    #navbarsExample11>ul>li.nav-item.dropdown.show>ul {
        background-color: #2f464f;
    }
    .navbar-dark .navbar-nav .nav-link {
        font-size: .8em;
        color: white;
        font-weight: 600;
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar-dark .navbar-nav .nav-link:hover {
        background-color: #92d3ec;
        color: white !important;
        font-weight: bolder;
    }
    /* .li {
        min-width: 18rem;
    } */
    .dropdown>.nav-link:hover {
        min-width: auto !important;
    }
}

.sticky-header {
    width: 100%;
    z-index: 10;
}

.divider {
    border-bottom: 1px solid #2f464f;
}

.dropdown-menu {
    float: left;
    min-width: 18rem;
    border: 0px solid rgba(0, 0, 0, .15);
    border-radius: 0rem;
}

.downArrow {
    position: absolute;
    bottom: 5%;
    left: 48%;
}

.bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}

.fa {
    height: 0;
}

@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
