<nav class="navbar navbar-expand-sm navbar-dark navbar-header sticky-header" style="padding: 0px;" ngStickyNav data-toggle="affix">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
        <a class="navbar-brand" routerLink="/home">
            <img src="./assets/img/zaliet-logo.png">
        </a>
        <a class="navbar-toggler" style="border:none;    padding: 0rem 0rem;" type="button" data-toggle="collapse" data-target="#navbarsExample11" aria-expanded="true" aria-label="Toggle navigation">
            <img id="navbutton" src="./assets/img/navbutton.PNG">

        </a>
        <div class="collapse navbar-collapse" id="navbarsExample11">
            <div class="collapseul">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/" fragment="home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about" fragment="a" id="about">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown">Services</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item ">
                                <a class="nav-link li " (click)="open($event, 0 )" routerLink="/about" fragment="services">Investment Sourcing</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link li" (click)="open($event,1  ) " routerLink="/about" fragment="services">Property development</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link li" (click)="open($event, 2 )" routerLink="/about" fragment="services">Yorkshire Orientation Days </a>
                            </li>
                        </ul>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" fragment="top" routerLink="/blog">Blog </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact Us </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
