<section>
    <div id="triangle_footer" class="container-fullwidth-red-bg" style="background-image: url('./assets/img/footer-overlay.png');">

    </div>
    <div class="container-fullwidth-red-bg-2" id="contact">

        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-6 ">

                    <!--  -->
                    <img src="./assets/img/zaliet-logo.png" class="img-responsive">
                    <h3>SHEPHERDS PLACE</h3>


                    <p>
                        <a href="https://www.linkedin.com/in/christopher-chambers-530195164/">
                            <fa style="font-size: 60px; color: white;" name="fab fa-linkedin-square"></fa><span class="text-alignment">linkedin</span>
                        </a>
                    </p>
                    <p>
                        <a href="https://www.facebook.com/Christopherchambersleeds">
                            <fa style="font-size: 60px; color: white;" name="fab fa-facebook-square"></fa>
                            <span class="text-alignment">facebook</span>
                        </a>
                    </p>
                    <p>
                        <a href="contact@shepherdsplace.co.uk ">
                            <fa style="font-size: 60px; color: white;" name="fas fa-envelope-square"></fa><span class="text-alignment-fa">contact@shepherdsplace.co.uk</span>   </a>
                    </p>
                    <p>
                        <a href="">
                            <fa style="font-size: 60px; color: white;" name="fas fa-phone-square"></fa><span class="text-alignment">07502 671492</span> </a>
                    </p>
                    <p> Copyright © Shepherds Place 2018 </p>
                </div>
                <!-- <div class="col-sm-3 col-xs-6 " id="center-row">
                    <h3 style=" padding-bottom: 25px;">Our Services</h3>


                    <p><a href="/#services " class="footerwhite" (click)="open($event, 0 )">Property Development</a></p>
                    <p><a href="/#services " class="footerwhite" (click)="open($event, 1 )">Investment Sourcing</a></p>
                    <p><a href="/#services " class="footerwhite" (click)="open($event, 2 )">Yorkshire Orientation Days</a></p>
                    <p><a routerLink="/blog " class="footerwhite ">Blog</a></p>
                    <p><a routerLink="/contact-us " class="footerwhite ">Contact</a></p>
                <p>&nbsp;</p>
            </div> -->


                <div class="col-sm-6 col-xs-6 ">

                    <app-sidebar></app-sidebar>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="<a href=" https://www.googletagmanager.com/gtag/js?id=UA-123086644-2 ">
                        </script ">https: //www.googletagmanager.com/gtag/js?id=UA-123086644-2">
                        </script</a>>
                        <script>
                            window.dataLayer = window.dataLayer || [];

                            function gtag() {
                                dataLayer.push(arguments);
                            }
                            gtag( & apos; js & apos;, new Date());
                            gtag( & apos; config & apos;, & apos; UA - 123086644 - 2 & apos;
                        </script> -->