.container-fullwidth-red-bg {
    background-color: #31464f;
    background-repeat: no-repeat;
    background-position: top;
    color: #fff;
    height: 400px;
}

.container-fullwidth-red-bg h2 {
    margin: 270px 0 40px 0;
}

.img-responsive {
    max-height: 271px !important;
    height: 225px !important;
}

.container-fullwidth-red-bg-2 {
    background-color: #31464f;
    color: #fff;
    padding-bottom: 20px;
}

.container-fullwidth-red-bg-2 img {
    margin: 0 auto;
    margin-top: 10px;
    height: 150px;
    max-height: 150px;
}

.container-fullwidth-red-bg-2 h3 {
    color: #fff;
    font-size: 1.75 rem;
}

.container-fullwidth-red-bg-2 h3 a {
    color: #fff;
    text-decoration: none;
}

.container-fullwidth-red-bg-2 h3 a:hover {
    color: #fff;
    text-decoration: none;
}

.container-fullwidth-red-bg-2 p a {
    color: #fff;
    line-height: 35px;
}

.container-fullwidth-red-bg-2 p a:hover {
    color: #fff;
    text-decoration: none;
}

.container-fullwidth-red-bg-2 .fa {
    font-size: 2em;
    padding-right: 10px;
}

.text-center {
    text-align: center;
}

.container-fullwidth-blue {
    background-color: #93d5eb;
    color: black;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.container-fullwidth-blue p {
    font-size: .8em;
    margin-bottom: 5px;
}

.container-fullwidth-blue a {
    color: black;
    text-decoration: none;
}

.container-fullwidth-blue a:hover {
    color: #FFFF;
    text-decoration: none;
}


/*Text Align Edits-tonix*/

.text-alignment {
    position: absolute;
    margin-top: 1.5vh;
    margin-left: 1vw;
}

.text-alignment-fa {
    position: absolute;
    margin-top: 1.5vh;
}

@media screen and (max-width: 425px) {
    .container-fullwidth-red-bg-2 img {
        margin: 0;
        margin-top: 10px;
    }
}

@media screen and (min-width: 575px) {
    #triangle_footer {
        display: none;
    }
}