main {
    margin-top: 100px;
}

h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.bg-inverse {
    background-color: #292b2c!important;
}

.sidebar {
    position: inherit;
    top: 100px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    border-right: 1px solid #eee;
    background-color: #2f464f;
}

.dropdown-menu.show {
    display: contents !important;
}

.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
    height: 100%;
}

.sidebar .nav-item+.nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}

.placeholders {
    padding-bottom: 3rem;
}

.placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar-inverse .navbar-toggler {
    border-color: rgba(255, 255, 255, .1);
}

@media (min-width: 992px) {
    .navbar-toggleable-md .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
}

nav {
    height: 95.6vh;
    background-color: #2f464f;
}