<nav class="bg-faded">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">

            <a class="nav-link" routerLink="/blog-admin">
               Blog
            </a>
        </li>

        <li class="nav-item ">
            <a class="nav-link li" (click)="addBlog()" style="color: white"> Add Blog</a>
        </li>






        <li class="nav-item">
            <a class="nav-link " routerLink="/tag-menu">Tag</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " routerLink="/media">Media</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " routerLink="/comment-menu">Comment</a>
        </li>
        <li class="nav-item">
            <a class="nav-link ">Settings</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link " routerLink="/logMenu">Log</a>
        </li> -->

    </ul>

</nav>