<section class="pad-top">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h2 class="pad-bottom">Investment Sourcing</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <p style="text-align: justify;">We put together lucrative, high yield investment opportunities for all kinds of investors. When we put together investment packages, unlike other investment sourcers, we focus on properties that we can add a great deal of value to ourselves.
                    This means that investors do not pay us for finding properties but rather they are paying for the value we add to them. Here at Shepherds Place we earn our crust and our track record is impeccable.
                </p>
                <h3 style="text-align: center;">Call today on : COMPANYNUMBER</h3>
            </div>
            <div class="col-sm-4">
                <app-sidebar></app-sidebar>
            </div>
        </div>
    </div>
</section>
<section class="pad-bottom pad-top">
    <div class="container">
        <div class="row">
        </div>
    </div>
</section>