<div id="a">
</div>
<app-header></app-header>

<section>
    <div class="container-fluid " style="background-color: #2f464f">
        <div id="about-scroll">
        </div>
        <div class="row">
            <div class="col-sm-12 text-center" style="padding-top: 60px;     padding-bottom: 50px;">

                <h1 class="banner-tag-line">About Us</h1>


            </div>
        </div>
    </div>
</section>
<section class="home-bg" style="background-color: white ">

    <div class="container" class="opacity: 0.99;" id="what-we-offer">
        <div class="row" id="abouimgdiv">
            <div class="col-sm-4 ">
                <div class="img-container aboutimg">
                    <img src="./assets/img/speedy-evaluation.png" class="img-responsive ">
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="img-container aboutimg">
                    <img src="./assets/img/cash.png" class="img-responsive ">
                </div>
            </div>
            <div class="col-sm-4  ">
                <div class="img-container aboutimg">
                    <img src="./assets/img/timely.png" class="img-responsive">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 ">
                <p style="text-align: justify;">
                    <br> Shepherds Place is a Property Developer and Investment Sourcer . We buy properties and improve their value for our investors. Our business provides properties that are handpicked to suit your investment strategy. We are experts
                    in the Yorkshire region and are happy to talk to investors who are looking to build a portfolio in this excellent market. For more details please explore our website and feel free to get in touch. We look forward to talking and exploring
                    the opportunities with you.
                    <!-- <br><br> If you are interested in finding out more about our services or for a confidential chat on how we can help you, please call: <strong>07502 671492</strong> or fill in the
                    <a fragment="contact"> <strong>Shepherds Place Enquiry Form</strong></a>. -->
                </p>
            </div>
        </div>
    </div>
</section>



<section id="services">
    <div class="container-fluid" style="background-color: #2f464f">
        <div class="row">
            <div class="col-sm-12 text-center" style="padding-top: 60px;     padding-bottom: 50px;">
                <h1 class="banner-tag-line"> Services We Offer</h1>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid">
    <div class="row">
        <collapsible-list [type]="'accordion'">

            <collapsible-list-item id="property-development">
                <collapsible-header class="waves-effect" (click)="open($event, 0 )">
                    <!-- <h3>Investment Sourcing</h3><span [hidden]="status[0]" style="padding-left: 7px"><a  >  find out more</a></span> -->
                    <div class="row">

                        <div class="col-md-6">
                            <h3>Investment Sourcing</h3>
                        </div>
                        <div class="col-md-6" align="right">
                            <i class="fa fa-3x fa-arrow-circle-down"></i>
                        </div>

                        <span [hidden]="status[0]" style="padding-left: 7px"></span>
                    </div>

                </collapsible-header>
                <collapsible-body [expanded]="status[0]">
                    <section class="home-bgs">
                        <div class="row row-padding">

                            <div class="col-sm-6 ">

                                <p>
                                    We put together lucrative, high yield investment opportunities for all kinds of investors. When we put together investment packages, unlike other investment sourcers, we focus on properties that we can add a great deal of value to ourselves. This means
                                    that investors do not pay us for finding properties but rather they are paying for the value we add to them. Here at Shepherds Place we earn our crust and our track record is impeccable.
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <img src="./assets/img/iStock-166053245.jpg " class="img-responsive">

                                <!-- <img src="./assets/img/iStock-166053245.jpg " class="img-responsive" style="height: 380px;"> -->
                            </div>

                        </div>
                    </section>
                </collapsible-body>
            </collapsible-list-item>

            <collapsible-list-item id="investment-sourcing">
                <collapsible-header class="waves-effect" (click)="open($event, 1 )">
                    <!-- <h3>
                    Property Development
                </h3><span [hidden]="status[1]" style="padding-left: 7px"><a   >  find out more</a></span> -->
                    <div class="row">

                        <div class="col-md-6">
                            <h3>Property Development</h3>
                        </div>
                        <div class="col-md-6" align="right">
                            <i class="fa fa-3x fa-arrow-circle-down"></i>
                        </div>

                        <span [hidden]="status[1]" style="padding-left: 7px"></span>
                    </div>

                </collapsible-header>
                <collapsible-body [expanded]="status[1]">
                    <section class="home-bgs">
                        <div class="row row-padding">
                            <div class="col-sm-6">
                                <img src="./assets/img/iStock-151629399.jpg" class="img-responsive">
                            </div>
                            <div class="col-sm-6">

                                <p>
                                    At Shepherds Place we only buy houses that we can add significant value to. We have a full-time in-house construction and design team that carries out all the work on our properties. There are no outside contractors. Our team are trustworthy, reliable,
                                    and they deliver work to the highest standard, adding real value to our properties and increasing the return on your investments.
                                </p>
                            </div>

                        </div>
                    </section>
                </collapsible-body>
            </collapsible-list-item>

            <collapsible-list-item id="yorkshire-orientation-days">
                <collapsible-header class="waves-effect" (click)="open($event, 2 )">
                    <!-- <h3>Yorkshire Orientation Days -->
                    <!-- </h3><span><a [hidden]="status[2]" style="padding-left: 7px"  >  find out more</a></span> -->
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Yorkshire Orientation Days</h3>
                        </div>
                        <div class="col-md-6" align="right">
                            <i class="fa fa-3x fa-arrow-circle-down"></i>
                        </div>
                        <span [hidden]="status[1]" style="padding-left: 7px"></span>
                    </div>


                </collapsible-header>
                <collapsible-body [expanded]="status[2]">

                    <section class="home-bgs">
                        <div class="row row-padding">

                            <div class="col-sm-6 ">

                                <p>
                                    Our Yorkshire Orientation Days are designed for investors who are looking to get a foothold in the Yorkshire property market. You will spend the day with one of our local property market experts, travelling around Yorkshire to look at our work and attend
                                    Live Viewings.If you are interested in investing in the Yorkshire region then this is the first step.
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <img src="./assets/img/iStock-166011968.jpg " class="img-responsive">

                                <!-- <img src="./assets/img/iStock-166011968.jpg " class="img-responsive" style="height: 560px"> -->
                            </div>

                        </div>
                    </section>
                </collapsible-body>
            </collapsible-list-item>

        </collapsible-list>
    </div>
</div>

<app-footer></app-footer>