body {
    font-family: 'Lato';
}


/*#what-we-offer SECTION STYLE START*/

h1 {
    color: white;
    line-height: 100%;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 8px #000;
}

banner-tag-line[_ngcontent-c1] {
    padding-bottom: 100px;
    padding-top: 15%;
    font-size: 5.1em;
    margin-left: 25%;
    margin-right: 26%;
}

#what-we-offer h3,
#what-we-offer a {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.img-container img {
    background: transparent;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

#what-we-offer .img-container {
    padding-top: 45px;
    margin: 0 auto;
    position: relative;
    height: 200px;
    width: 200px;
    margin-bottom: 30px;
    border: 2px solid white;
    border-radius: 110px;
    box-shadow: 0px 5px 5px #64696d;
    background: #93d5eb;
    background: -moz-linear-gradient(top, #93d5eb 0%, #add3e0 100%) !important;
    background: -webkit-linear-gradient(top, #1aa6d4 0%, #93d5eb 100%) !important;
    background: linear-gradient(to bottom, #0b9efd 0%, #7abce9 100%) !important;
}


/* #what-we-offer a:hover .img-container {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
 */

#what-we-offer h3 {
    max-width: 80%;
    margin: 0 auto;
    min-height: 65px;
}

#what-we-offer .aboutimg:hover,
#what-we-offer a:hover,
#what-we-offer a:focus,
#what-we-offer a:hover h3 {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    text-decoration: none;
    color: #0b9efd;
    outline: none;
}

#what-we-offer .col-sm-4 {
    padding-bottom: 25px;
    padding-top: 25px;
}

#what-we-offer p {
    color: #333;
}


/*#what-we-offer SECTION STYLE END*/


/*FOOTER STYLE START*/


/*UIB TABSET STYLE START*/

.parent-tabset>ul {
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
}

.parent-tabset>ul>li+li {
    margin-left: 0px;
}

.parent-tabset>ul>li {
    width: 25%;
    padding: 0px;
}

.parent-tabset>ul>li>a {
    color: #555;
}

.parent-tabset>ul>li.active>a,
.parent-tabset>ul>li.active>a:focus,
.parent-tabset>ul>li.active>a:hover {
    color: #fff;
    background-color: #0b9efd;
}

.child-tabset>ul>li+li {
    margin-left: 2px;
}

.child-tabset>ul>li {
    width: 16.5%;
    padding: 0px;
    border: 1px solid #0b9efd;
}

.child-tabset>ul>li>a {
    color: #555;
}

.child-tabset>ul>li.active>a,
.child-tabset>ul>li.active>a:focus,
.child-tabset>ul>li.active>a:hover {
    color: #fff;
    background-color: #0b9efd;
}


/*UIB TABSET STYLE END*/


/*contact view style start*/

.contact-form-div {
    background-color: #314550;
    padding: 30px;
    color: #fff;
}


/*contact view style end*/


/*testimonial style start*/

#testimonial {
    background: #314550;
    color: #fff;
}


/*testimonial style end*/

.img-container-2 {
    height: 170px;
    width: 170px;
    margin: 0 auto;
    border-radius: 100px;
    padding-top: 34px;
    margin-bottom: 20px;
    border: 2px solid white;
    box-shadow: 0px 5px 5px #64696d;
    background: #314550;
    background: -moz-linear-gradient(top, #0b9efd 0%, #0872b7 100%) !important;
    background: -webkit-linear-gradient(top, #76a0b7 0%, #314550 100%) !important;
    background: linear-gradient(to bottom, #0b9efd 0%, #095283 100%) !important;
}

.img-container-2 img {
    margin: 0 auto;
    height: 100px;
}

.testimonial-container {
    width: 100%;
    margin: 0 auto;
    border: 1px dashed white;
    display: -webkit-inline-box;
    display: inline-block;
}

.testimonial-img {
    width: 55%;
    margin: 0 auto;
    margin-top: 20px;
    border: 3px solid #fff;
    border-radius: 100%;
}

.testimonial-img img {
    border-radius: 100%;
}

.testimonial-text a,
.testimonial-text a:hover,
.testimonial-text a:focus,
.testimonial-text a:active {
    outline: none;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.testimonial-text {
    float: right;
}

#sidebarform {
    padding: 20px;
    background: #314550;
    color: white;
    border: 4px solid #fff;
    border-radius: 25px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .25);
}

.img-responsive {
    display: block;
    width: 500px;
    height: 334px;
}

section p {
    line-height: 30px;
    margin: 0 0 20px;
    font-size: 1.4em;
}

.col-sm-3 {
    float: left;
}

.text-center {
    padding-bottom: 20px;
    padding-top: 15px;
    text-align: center!important;
}

.row-padding>.col-sm-6>p>a {
    color: #007bff;
    text-decoration: none;
    font-weight: 700;
}

.row {
    margin-left: auto;
    margin-right: auto;
}


/* {
    background-position: bottom center, center center;
    
    height: 80vh;
    z-index: -1;
    opacity: 0.5;
} */

.home-bg {
    padding: 0px 0 250px 0;
    background-size: cover;
    display: block;
    position: relative;
    height: 90vh;
}

.home-bg::after {
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

collapsible-body {
    /* height: 660px;
     */
    overflow: -webkit-paged-x !important;
}

@media only all and (max-width: 900px) {
    .row {
        margin-left: auto !important;
        margin-right: 0px;
    }
    /* collapsible-body {
        height: 940px;
    } */
}

@media (max-width: 585px) {
    #abouimgdiv,
    .aboutimg {
        display: none;
    }
    /* collapsible-body {
        height: 1200px;
    } */
}

.secondrow {
    background-color: #2f464f;
}

.third-row {
    background-color: #ffff;
}

.row-padding {
    padding: 18px;
}

.waves-effect{
  padding-top: 28px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 900px;
    }
}

#aboutp {
    font-size: 1.5em;
}

.home-bgs {
    padding: 0px 0 250px 0;
    background-size: cover;
    display: block;
    position: relative;
    height: 50vh;
}

h3 {
    margin-top: .5rem;
}

collapsible-header>h3 {
    float: left;
}

collapsible-header {
    padding-top: 15px
}

collapsible-header>span>a {
    padding-left: 7px;
    text-decoration: underline;
    color: blue;
    font-size: .9em;
}

.downArrow {
    position: absolute;
    bottom: 5%;
    left: 98%;
}

.bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}

@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
