<div id="top"></div>
<app-header></app-header>
<section>

    <div class="container-fluid " style="background-color: #2f464f">
        <!-- <div class="row"> -->
        <div class="search-container">

            <button type="submit" (click)="submit()"><i class="fa fa-search"></i></button> <input type="text" id="search" placeholder="Search Tags.." name="search" filterName="label">

        </div>
        <div class="text-center" style="padding-top: 60px;     padding-bottom: 50px;">


            <h1 style="font-size: 2.5rem;" class="header_title">{{statustag}}</h1>

        </div>



    </div>
</section>
<ngx-ui-loader></ngx-ui-loader>

<section id="category_section" class="category_section" *ngIf="showblog">
    <div class="container">
        <div class="row" style="    width: 80%;
        margin-left: auto;
        margin-right: auto;">
            <div class="col-md-12">
                <div class="category_section mobile">

                    <!----article_title------>
                    <div class="category_article_wrapper" *ngFor="let blog of blogData  | paginate: { itemsPerPage: 5, currentPage: pageBlogNumber , id:'blog'}">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="top_article_img">
                                    <a (click)="viewBlog(blog)" fragment="top" target="_self"><img class="img-responsive" style=" width: 100%; height: 100%;" src="{{blog.files[0].url}}" alt="feature-top">
                                    </a>
                                </div>
                                <!----top_article_img------>
                            </div>
                            <div class="col-md-7 ">
                                <!-- <span class="tag purple">property development</span> -->
                                <ul>
                                    <li *ngFor="let tag of blog.tags">
                                        <div class="tag_lg purple">
                                            <a [routerLink]="['/bloglist-of-tag', tag.name]">{{tag.name}}</a>
                                        </div>
                                    </li>
                                </ul>

                                <div class="category_article_title">
                                    <h2> <br><a [routerLink]="['/single-blog',blog.id, 'test']" fragment="top" target="_self">{{blog.header}}</a></h2>
                                </div>
                                <!----category_article_title------>
                                <div class="category_article_date"><a href="#">{{blog.publishDate| date : "dd MMMM yyyy"}}</a>, by: <a href="#">{{blog.author}}</a></div>
                                <!----category_article_date------>
                                <div class="category_article_content">
                                    {{blog.shortContent}}
                                </div>
                                <!----category_article_content------>
                                <div class="media_social">
                                    <span><a href="#"><i class="fa fa-share-alt"></i>{{testarray[3].shares}} </a> Shares</span>
                                    <span><i class="fa fa-comments-o"></i><a href="#">{{testarray[3].comments}}</a> Comments</span>
                                </div>
                                <!----media_social------>
                            </div>
                        </div>
                    </div>
                    <div align="center" id="result-page-navigator">

                        <pagination-controls class="my-pagination" id="blog" (pageChange)="pageBlogNumber = $event"></pagination-controls>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>


<app-footer></app-footer>