body {
    font-family: 'Lato';
}


/*#what-we-offer SECTION STYLE START*/

#what-we-offer .img-container,
#what-we-offer h3,
#what-we-offer a {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.img-container img {
    background: transparent;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

#what-we-offer .img-container {
    padding-top: 45px;
    margin: 0 auto;
    position: relative;
    height: 200px;
    width: 200px;
    margin-bottom: 30px;
    border: 2px solid white;
    border-radius: 110px;
    box-shadow: 0px 5px 5px #64696d;
    background: #93d5eb;
    background: -moz-linear-gradient(top, #93d5eb 0%, #add3e0 100%) !important;
    background: -webkit-linear-gradient(top, #1aa6d4 0%, #93d5eb 100%) !important;
    background: linear-gradient(to bottom, #0b9efd 0%, #7abce9 100%) !important;
}

#what-we-offer a:hover .img-container {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

#what-we-offer h3 {
    max-width: 80%;
    margin: 0 auto;
    min-height: 65px;
}

#what-we-offer a:hover,
#what-we-offer a:focus,
#what-we-offer a:hover h3 {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    text-decoration: none;
    color: #0b9efd;
    outline: none;
}

#what-we-offer .col-sm-4 {
    padding-bottom: 50px;
}

#what-we-offer p {
    color: #333;
}


/*#what-we-offer SECTION STYLE END*/


/*FOOTER STYLE START*/


/*UIB TABSET STYLE START*/

.parent-tabset>ul {
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
}

.parent-tabset>ul>li+li {
    margin-left: 0px;
}

.parent-tabset>ul>li {
    width: 25%;
    padding: 0px;
}

.parent-tabset>ul>li>a {
    color: #555;
}

.parent-tabset>ul>li.active>a,
.parent-tabset>ul>li.active>a:focus,
.parent-tabset>ul>li.active>a:hover {
    color: #fff;
    background-color: #0b9efd;
}

.child-tabset>ul>li+li {
    margin-left: 2px;
}

.child-tabset>ul>li {
    width: 16.5%;
    padding: 0px;
    border: 1px solid #0b9efd;
}

.child-tabset>ul>li>a {
    color: #555;
}

.child-tabset>ul>li.active>a,
.child-tabset>ul>li.active>a:focus,
.child-tabset>ul>li.active>a:hover {
    color: #fff;
    background-color: #0b9efd;
}


/*UIB TABSET STYLE END*/


/*contact view style start*/

.contact-form-div {
    background-color: #314550;
    padding: 30px;
    color: #fff;
}


/*contact view style end*/


/*testimonial style start*/

#testimonial {
    background: #314550;
    color: #fff;
}


/*testimonial style end*/

.img-container-2 {
    height: 170px;
    width: 170px;
    margin: 0 auto;
    border-radius: 100px;
    padding-top: 34px;
    margin-bottom: 20px;
    border: 2px solid white;
    box-shadow: 0px 5px 5px #64696d;
    background: #314550;
    background: -moz-linear-gradient(top, #0b9efd 0%, #0872b7 100%) !important;
    background: -webkit-linear-gradient(top, #76a0b7 0%, #314550 100%) !important;
    background: linear-gradient(to bottom, #0b9efd 0%, #095283 100%) !important;
}

.img-container-2 img {
    margin: 0 auto;
    height: 100px;
}

.testimonial-container {
    width: 100%;
    margin: 0 auto;
    border: 1px dashed white;
    display: -webkit-inline-box;
    display: inline-block;
}

.testimonial-img {
    width: 55%;
    margin: 0 auto;
    margin-top: 20px;
    border: 3px solid #fff;
    border-radius: 100%;
}

.testimonial-img img {
    border-radius: 100%;
}

.testimonial-text a,
.testimonial-text a:hover,
.testimonial-text a:focus,
.testimonial-text a:active {
    outline: none;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.testimonial-text {
    float: right;
}

#sidebarform {
    padding: 20px;
    background: #314550;
    color: white;
    border: 4px solid #fff;
    border-radius: 25px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .25);
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

section p {
    line-height: 30px;
    margin: 0 0 20px;
}

.col-sm-3 {
    float: left;
}

.text-center {
    padding-bottom: 20px;
    padding-top: 15px;
    text-align: center!important;
}