<section class="pad-top">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h2 class="pad-bottom">Property Development
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">

                <p style="text-align: justify;">At Shepherds Place we only buy houses that we can add significant value to. We have a full-time in-house construction and design team that carries out all the work on our properties. There are no outside contractors. Our team are trustworthy,
                    reliable, and they deliver work to the highest standard, adding real value to our properties and increasing the return on your investments. </p>
                <h3 style="text-align: center;">Call today on : COMPANYNUMBER</h3>
            </div>
            <div class="col-sm-4">
                <app-sidebar></app-sidebar>
            </div>
        </div>
    </div>

</section>
<section class="pad-bottom pad-top">
    <div class="container">
        <div class="row">
        </div>
    </div>
</section>