.loginscreen.middle-box {
    width: 300px;
}

.login-center {
    height: 600px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: none;
}

.full-width {
    width: 100% !important;
}

.btn-primary {
    background-color: #23456a;
    border-color: #23456a;
    color: #FFFFFF;
}

.m-b {
    margin-bottom: 15px;
}

h2 {
    font-size: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}

.form-control,
.single-line {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}

.form-control {
    box-shadow: none;
}

a {
    color: #337ab7 !important;
    text-decoration: none;
}

.invalid-pass {
    color: red;
}