<!-- Modal -->

<app-header></app-header>

<ngx-ui-loader></ngx-ui-loader>

<div class="middle-box login-center text-center loginscreen  animated fadeInDown">

    <div>
        <!-- <h1 class="logo-name">IN+</h1> -->
        <img src="./assets/img/zaliet-logo.png" style="width:100%;">
    </div><br>
    <h2 style="color:black;">Welcome to Shepherd’s Place</h2>

    <form class="m-t" role="form" [formGroup]="rForm" (ngSubmit)="onSubmit(rForm.value)">
        <div class=" form-group ">
            <input type="text" class="form-control" id="username" required name="username" [formControl]="rForm.controls['username']" placeholder="Username ">

        </div>
        <div class="form-group ">
            <input type="password" class="form-control" id="password" required name="password" [formControl]="rForm.controls['password']" placeholder="Password ">
        </div>
        <div class="text-danger" *ngIf="!status.ok">{{status.error}}</div>
        <button type="submit" id="loginBtn " class="btn btn-primary block full-width m-b" data-style="zoom-in">Login</button>
    </form>


</div>