<section class="pad-top pad-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-left">
                <p><strong>Book an appointment with the Sheperds Place team today!</strong></p>
                <p><i class="fa fa-envelope" aria-hidden="true"></i> SUPPORT EMAIL HERE</p>
                <p><i class="fa fa-envelope" aria-hidden="true"></i> SALES EMAIL HERE </p>
                <br/>
                <p>
                    Branch 1<br/>
                    <i class="fa fa-phone" aria-hidden="true"></i> PHONE NUMBER HERE<br/> Location Details <br/> Location Details <br/> Location Details <br/>
                </p>
                <br/>
                <p>
                    Branch 2<br/>
                    <i class="fa fa-phone" aria-hidden="true"></i> PHONE NUMBER HERE<br/> Location Details <br/> Location Details <br/> Location Details <br/>
                </p>
                <br/>
                <p>
                    Branch 3<br/>
                    <i class="fa fa-phone" aria-hidden="true"></i> Phone Number Here<br/> Location Details <br/> Location Details <br/> Location Details <br/>
                </p>
            </div>
            <div class="col-sm-offset-2 col-sm-6 ">
                <div class="contact-form-div">
                    <div *ngIf="!name; else forminfo">
                        <form [formGroup]=rForm (ngSubmit)="addPost(rForm.value)">

                            <h3>How can we help?</h3>
                            <p>Please fill out this form and we will get in touch with you shortly.</p>
                            <br/>
                            <div class="form-group">
                                <label>Name</label>

                                <input type="text" class="form-control form-style" formControlName="name">
                                <div class="text-danger" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">Name is required</div>

                            </div>
                            <div class="form-group">
                                <label>Email </label>

                                <input type="email" class="form-control form-style" formControlName="email">
                                <div class="text-danger" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">Email is required</div>

                            </div>
                            <div class="form-group">
                                <label>phone Number</label>

                                <input type="text" class="form-control form-style" formControlName="phonenumber">
                                <div class="text-danger" *ngIf="!rForm.controls['phonenumber'].is-valid && rForm.controls['phonenumber'].touched">Email is required</div>

                            </div>
                            <div class="form-group">
                                <label>Post Code</label>
                                <input type="text" class="form-control form-style" formControlName="postcode">

                            </div>
                            <div class="form-group">
                                <label>Subject</label>

                                <input type="text" class="form-control form-style" formControlName="subject">
                                <div class="text-danger" *ngIf="!rForm.controls['subject'].valid && rForm.controls['subject'].touched">Subject is required</div>
                            </div>
                            <div class="form-group">
                                <label>Message</label>

                                <textarea type="text" class="form-control form-style" formControlName="message"></textarea>
                                <div class="text-danger" *ngIf="!rForm.controls['message'].valid && rForm.controls['message'].touched">Message is required</div>

                            </div>
                            <input type="submit" class="btn btn-danger  btn-block" value="Message Us" [disabled]="!rForm.valid">
                            <br/>
                            <p class="text-center"><small> Get a <strong>FREE, NO OBLIGATION</strong> quote today</small></p>
                        </form>
                    </div>
                    <ng-template #forminfo>
                        <div class="form-container">
                            <div class="row columns">
                                Good Day {{name}}! Thanks for reaching shepherdsplace.co.uk. We try to be as responsive as possible. We'll get back to you soon.

                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</section>