<div id="top"></div>
<app-header></app-header>
<section style="    margin-top: 0px;">

    <div class="container-fluid " style="background-color: #2f464f" *ngIf="showblog">
        <!-- <div class="row"> -->
        <div class="text-center" style="padding-top: 60px;     padding-bottom: 50px;">

            <h1 class="header_title" style="color: white;
            line-height: 100%;
            font-weight: bold;
            font-size: 2.5rem;
            text-transform: uppercase;
            text-shadow: 2px 2px 8px #000;">{{blogData.header}}</h1>


            <!-- </div> -->
        </div>


    </div>
</section>
<ngx-ui-loader></ngx-ui-loader>
<section id="entity_section" class="entity_section" *ngIf="showblog">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="entity_wrapper">
                    <div class="entity_title">
                        <h1><a href="#" target="_self">{{blogData.publishDate| date : "dd MMMM yyyy"}}</a>, By: <a href="#" target="_self">{{blogData.author}}</a></h1>
                    </div>
                    <!-- entity_title -->

                    <!-- <div class="entity_meta"><a href="#" target="_self">{{testarray[statusid].date}}</a>, by: <a href="#" target="_self">{{testarray[statusid].author}}</a> -->
                    <!-- </div> -->
                    <!-- entity_meta -->

                    <!-- <div class="entity_rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-full"></i>
                    </div> -->
                    <!-- entity_rating -->

                    <div class="entity_social">
                        <a [hidden]="blogData.shares==0" class="icons-sm sh-ic">
                            <i class="fa fa-share-alt"></i>
                            <b >{{blogData.shares}}</b> <span class="share_ic">Shares</span>
                        </a>
                        <a ceiboShare [facebook]="{u: repoUrl}" class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a>
                        <!--Twitter-->
                        <a ceiboShare [twitter]="{url:repoUrl, text:'Checkout this awesome blog', hashtags:'Shepherdspace, social'}" class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>
                        <!--Google +-->
                        <a ceiboShare [googlePlus]="{url:repoUrl}" class="icons-sm inst-ic"><i class="fa fa-google-plus"> </i></a>
                        <!--Linkedin-->
                        <a ceiboShare [linkedIn]="{url:repoUrl}" class="icons-sm tmb-ic"><i class="fa fa-ge"> </i></a>
                        <!--Pinterest-->
                        <a ceiboShare [pinterest]="{url:repoUrl, media: imageUrl, description:'Checkout this awesome blog'}" class="icons-sm rss-ic"><i class="fa fa-rss"> </i></a>
                    </div>
                    <!-- entity_social -->

                    <div class="entity_thumb">
                        <img width="100%" class="img-responsive" src="{{apilink}}{{blogData.blogEntryFiles[0].fileId}}" alt="feature-top">
                    </div>
                    <!-- entity_thumb -->

                    <div class="entity_content">

                        <blockquote class="pull-left">{{blogData.metaDescription}}
                        </blockquote>
                        <!-- <p *ngFor="let parag of testarray[statusid].content">
                            {{parag}}
                        </p> -->
                        <div [innerHtml]="blogData.content"></div>





                    </div>
                    <!-- entity_content -->
                </div>
                <div class="entity_social">
                    <a [hidden]="blogData.shares==0" class="icons-sm sh-ic">
                        <i class="fa fa-share-alt"></i>
                        <b>{{blogData.shares}}</b> <span class="share_ic">Shares</span>
                    </a>
                    <a (click)="shareCount()" ceiboShare [facebook]="{u: repoUrl}" class="icons-sm fb-ic" ><i class="fa fa-facebook"></i></a>
                    <!--Twitter-->
                    <a (click)="shareCount()" ceiboShare [twitter]="{url:repoUrl, text:'Checkout this awesome blog', hashtags:'Shepherdspace, social'}" class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>
                    <!--Google +-->
                    <a (click)="shareCount()" ceiboShare [googlePlus]="{url:repoUrl}" class="icons-sm inst-ic"><i class="fa fa-google-plus"> </i></a>
                    <!--Linkedin-->
                    <a (click)="shareCount()" ceiboShare [linkedIn]="{url:repoUrl}" class="icons-sm tmb-ic"><i class="fa fa-ge"> </i></a>
                    <!--Pinterest-->
                    <a (click)="shareCount()" ceiboShare [pinterest]="{url:repoUrl, media: imageUrl, description:'Checkout this awesome blog'}" class="icons-sm rss-ic"><i class="fa fa-rss"> </i></a>
                </div>

                <div class="readers_comment">
                    <div class="entity_inner__title header_purple">
                        <h2>Readers Comment</h2>
                    </div>
                 

                    <div class="media" *ngFor="let comment of comments">
                        <div class="media-left" style="width:10%">
                            <a href="#">
                                
                                    <i alt="64x64" class="media-object" class="fa fa-user-circle" aria-hidden="true" style="font-size:-webkit-xxx-large"></i>
                                <!-- <img alt="64x64" class="media-object" data-src="assets/img/reader_img1.jpg" src="assets/img/reader_img1.jpg" data-holder-rendered="true"> -->
                            </a>
                        </div>
                        <div class="media-body">
                            <h2 style="color: #93d3ec;" class="media-heading">{{comment.name}}</h2>
                            {{comment.comment}}

                            <div class="entity_vote">
                                {{comment.dateCreated| date : " MMMM d, yyyy"}}
                            
                            </div>

                        </div>
                    </div>
                </div>
                <!-- media end -->

                <!-- <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img alt="64x64" class="media-object" data-src="assets/img/reader_img3.jpg" src="assets/img/reader_img3.jpg" data-holder-rendered="true">
                            </a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading"><a href="#">S. Joshep</a></h2>
                            But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?

                            <div class="entity_vote">
                                <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
                           
                            </div>
                        </div>
                    </div>
           
                </div> -->
                <!--Readers Comment-->
                <div class="entity_comments">
                    <div class="entity_inner__title header_black">
                        <h2>Add a Comment</h2>
                    </div>
                    <!--Entity Title -->

                    <div class="entity_comment_from">

              

                        <!--Entity Comments From -->


                        <form class="contact" [formGroup]="rForm" (ngSubmit)="submitcomment(rForm.value)">
                            <span class="glyphicons glyphicon-envelope form-watermark"></span>

                            <div [@slideInFadeInAnimation] *ngIf="formState == 'active'">
                                <div class="form-group special-input" [ngClass]="{'has-error':!rForm.controls['Name'].valid && rForm.controls['Name'].touched}">
                                    <label for="NameInput" class="label-inactive" [@moveLabel]="nameState">Name</label>
                                    <input type="text" class="form-control" id="Name" aria-describedby="NameHelp" [formControl]="rForm.controls['Name']" (focus)="inputFocusIn($event)" (focusout)="inputFocusOut($event)">

                                    <div [@fadeInAnimation] class="input-error" *ngIf="(rForm.controls['Name'].touched && rForm.controls['Name'].hasError('required'))">Please enter your full Name.</div>
                                    <div [@fadeInAnimation] class="input-error" *ngIf="(rForm.controls['Name'].touched && rForm.controls['Name'].hasError('minlength'))">Your full Name must be greater than 3 characters.</div>
                                    <div [@fadeInAnimation] class="input-error" *ngIf="(rForm.controls['Name'].touched && rForm.controls['Name'].hasError('pattern') && !rForm.controls['Name'].hasError('required') && !rForm.controls['Name'].hasError('minlength'))">Your Name cannot contain numbers.</div>
                                </div>
                                <div class="form-group special-input" [ngClass]="{'has-error':!rForm.controls['Email'].valid && rForm.controls['Email'].touched}">
                                    <label for="emailInput" class="label-inactive" [@moveLabel]="emailState">Email</label>
                                    <input type="text" class="form-control" id="Email" aria-describedby="emailHelp" [formControl]="rForm.controls['Email']" (focus)="inputFocusIn($event)" (focusout)="inputFocusOut($event)">

                                    <div [@fadeInAnimation] class="input-error" *ngIf="(rForm.controls['Email'].touched && rForm.controls['Email'].hasError('required'))">Please enter a valid Email address.</div>
                                    <div [@fadeInAnimation] class="input-error" *ngIf="(rForm.controls['Email'].touched && rForm.controls['Email'].hasError('Email') && !rForm.controls['Email'].hasError('required'))">Please enter a valid email format</div>
                                </div>

                                <div class="form-group special-input" style="      padding-top: 20px;  height: 100px;" [ngClass]="{'has-error':!rForm.controls['Comment'].valid && rForm.controls['Comment'].touched}">
                                    <label for="commentInput" class="label-inactive" [@moveLabel]="commentState">Comment</label>
                                    <textarea id="Comment" style="    height: 74px;" type="text" class="form-control form-style" [formControl]="rForm.controls['Comment']" (focus)="inputFocusIn($event)" (focusout)="inputFocusOut($event)"></textarea>
                                    <div [@fadeInAnimation] class="input-error" *ngIf="(rForm.controls['Comment'].touched && rForm.controls['Comment'].hasError('minlength'))">please enter comment</div>
                                </div>

                                <button type="submit" class="btn btn-submit btn-block">Submit</button>

                            </div>
                        </form>
                    </div>

                </div>


            </div>


            <div class="col-md-4">
                <div class="widget_title widget_black">
                    <h2><a href="#">Other Popular Entries</a></h2>
                </div>


                <div class="widget" *ngFor="let blog of blogsData| paginate: { itemsPerPage: 5, currentPage: pageBlogNumber , id:'blogs'}; let i = index">

                    <div class="media" [hidden]="blog.id==blogData.id">
                        <div class="media-left">
                            <a (click)="selectblog(blog)" fragment="top"><img class="media-object" src="{{apilink}}{{blog.blogEntryFiles[0].fileId}}" alt="Generic placeholder image"></a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">
                                <a (click)="selectblog(blog)" fragment="top" target="_self">{{blog.header}}</a>
                            </h3> <span class="media-date"><a  (click)="selectblog(blog)" fragment="top">{{blog.publishDate| date : "dd MMMM yyyy"}}</a>,  By: <a  (click)="selectblog(blog)" fragment="top">{{blog.author}}</a></span>

                            <div class="widget_article_social">
                                <span>
                            <a (click)="selectblog(blog)" fragment="top"  target="_self"> <i class="fa fa-share-alt"></i>0</a> Shares
                        </span>
                                <span>
                            <a  (click)="selectblog(blog)" fragment="top" target="_self"><i class="fa fa-comments-o"></i>0</a> Comments
                        </span>
                            </div>
                        </div>
                    </div>


                </div>
                <div align="right" id="result-page-navigator">
                    <pagination-controls class="my-pagination" id="blogs" previousLabel="Previous" nextLabel="More News" (pageChange)="pageBlogNumber = $event"></pagination-controls>
                </div>

                <!-- Popular News -->



            </div>
        </div>
    </div>
</section>