<section>
    <div style=" float: right; padding-left: 30px;" class="dropdown">
        <a style="color: beige" class="nav-link dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li class="nav-item ">
                <a class="nav-link li" (click)="Logout()">Log out</a>
            </li>

        </ul>
    </div>
    <div class=" container-fluid " style="background-color: #2f464f ">
        <!-- <div class="row "> -->
        <div class="text-center " style="padding-top: 60px; padding-bottom: 50px; ">

            <h1 class="header_title " style="color: white; line-height: 100%; font-weight: bold; font-size: 2.5rem; text-transform: uppercase; text-shadow: 2px 2px 8px #000; "> Shepherds Place Admin</h1>


            <!-- </div> -->
        </div>


    </div>
</section>
<div class=" row">
    <div class="col-md-1">
        <app-sidemenu></app-sidemenu>
    </div>
    <div class="col-md-8">
        <section style="margin-top: 60px; ">
            <div class="container">

                <div class="contact-form-div">

                    <form [formGroup]="addForm" (ngSubmit)="addBlog()" *ngIf="status">
                        <div class="form-group">
                            <label>Blog Title</label>
                            <input type="text" class="form-control form-style" formControlName="header">
                        </div>
                        <div class="form-group">
                            <label>Permalink</label>
                            <input type="text" class="form-control form-style" formControlName="headerUrl">
                        </div>

                        <label>Content</label>
                        <!-- <app-ngx-editor [placeholder]=" 'Enter text here...' " [spellcheck]="true " formControlName="content" height="300px" minHeight="300px">
                        </app-ngx-editor> -->
                        <div [froalaEditor]='options' formControlName="content"></div>
                        <div class="form-group">
                            <label>Short Content</label>
                            <textarea type="text" class="form-control form-style" formControlName="shortContent"></textarea>
                            <div class="input-error" *ngIf="(addForm.controls['shortContent'].touched && addForm.controls['shortContent'].hasError('maxlength'))">minimum only of 100 characters</div>
                        </div>
                        <div class="form-group">
                            <label>MetaDescription</label>
                            <input type="text" class="form-control form-style" formControlName="metaDescription">
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>author</label>
                                    <input type="text" class="form-control form-style" formControlName="author">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Publish Date</label>
                                    <angular2-date-picker formControlName="publishDate" [settings]="settings"></angular2-date-picker>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary " type="submit">Submit</button>
                    </form>

                </div>

            </div>
        </section>
    </div>
    <div class="col-md-3">
        <div class="container-fluid">
            <div class="card card-profile" (click)="addChangeFile()">
                <div>
                    <div class="image-border">
                        <img style=" height: 300px;" src="{{default}}" width="100%" class="product-img">
                    </div>
                </div>
                <button type="button" class="btn btn-primary ">Change/Add featured Image</button>
            </div>
        </div>
    </div>
</div>