.row {
    max-width: 100% !important;
}

.ngx-editor[_ngcontent-c4] .ngx-wrapper[_ngcontent-c4] .ngx-editor-textarea[_ngcontent-c4] {
    height: 300% !important;
}

#tag_section>td {
    text-align: center !important;
}

.image-border {
    margin: 2vh;
    border-color: black;
    width: 87%;
    border-style: solid;
    box-shadow: 10px 12px 5px #34495e;
}

.has-error {
    border-color: #a94442 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
}

.input-error {
    position: absolute;
    right: 10px;
    top: 20px;
    color: red;
}

a[href="https://www.froala.com/wysiwyg-editor?k=u"] {
    display: none !important;
    position: absolute;
    top: -99999999px;
}