<section>
    <div style=" float: right; padding-left: 30px;" class="dropdown">
        <a style="color: beige" class="nav-link" data-toggle="dropdown">Account <fa style="font-size: 30px; color: white;" name="fas fa-user"></fa></a>
        <ul class="dropdown-menu">
            <li class="nav-item ">
                <a class="nav-link li" (click)="profile()">Profile</a>
            </li>

            <li class="nav-item ">
                <a class="nav-link li" (click)="Logout()">Log out</a>
            </li>

        </ul>
    </div>
    <div class=" container-fluid " style="background-color: #2f464f;  ">
        <!-- <div class="row "> -->

        <div style="padding-top: 60px; padding-bottom: 50px; ">


            <a class="navbar-brand" routerLink="/home" style="float: left;">
                <img style="height: inherit" src="./assets/img/zaliet-logo.png">
            </a>
            <h1 class="header_title " style="
            float: left;
                color: white;
                line-height: 100%;
                font-weight: bold;
                font-size: 1.5rem;
                text-transform: uppercase;
                text-shadow: 2px 2px 8px #000; "> Shepherds Place Admin</h1>



            <!-- </div> -->
        </div>


    </div>
</section>
<div class=" row">
    <div class="col-md-1">
        <app-sidemenu></app-sidemenu>
    </div>
    <div class="col-md-9">




        <section>
            <button class="btn btn-primary btn-large" style="margin-top:20px" (click)="addBlog()">Add New Blog</button>
            <div class="container-fluid " *ngIf="status" id="tag_section">
                <h2>List of Blogs</h2>

                <collapsible-table [type]="'expandable'" striped="true" borderedHorizontally="true" highlight="true" selectMultipleRows="false" bordered="true">

                    <thead>
                        <collapsible-table-row>
                            <th>Blog Title</th>
                            <th>Tags</th>
                            <th>Author</th>
                            <th>Date of Publish</th>
                        </collapsible-table-row>
                    </thead>

                    <tbody *ngFor="let blog of blogData">

                        <collapsible-table-row [detail]="detail" (click)="showstatus = false">
                            <td>{{blog.header}}</td>
                            <td>
                                <ul *ngFor="let tags of blog.tags | paginate: { itemsPerPage: 5, currentPage: pageBlogNumber, id:'blogs' }; let i = index" style=" display: -webkit-inline-box;">
                                    <li><small class="tag_lg purple">{{tags.name}} </small><button lass="tag_lg purple" (click)="removeSingleTag(blog, tags.id) ">x</button>
                                    </li>
                                </ul>
                            </td>
                            <td>{{blog.author}}</td>
                            <!-- <td>tag1,tag2</td> -->
                            <td>{{blog.publishDate| date : "dd MM yyyy"}}</td>
                        </collapsible-table-row>
                        <collapsible-table-row-detail #detail>
                            <table>


                                <td width="25%"> <button class="btn btn-info btn-block" (click)="viewBlog(blog) "><a  target="_blank "> View</a></button></td>


                                <td width="25% ">
                                    <button class="btn btn-success btn-block" (click)="editBlog(blog.id) ">  Edit </button></td>


                                <td width="25%"><button class="btn btn-danger btn-block" (click)="deleteBlog(blog.id) "> Delete</button></td>
                                <td width="25%"> <button class="btn btn-primary btn-block" (click)="showstatus = !showstatus ; currentblog(blog)"> Add/Remove Tags </button></td>


                            </table>
                        </collapsible-table-row-detail>

                    </tbody>

                </collapsible-table>
                <div align="right" id="result-page-navigator">
                    <pagination-controls class="my-pagination" id="blogs" (pageChange)="pageBlogNumber = $event"></pagination-controls>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-2">


        <div class="container" style="margin-top: 8vh;" *ngIf="statusTags" [hidden]="!showstatus">
            <h2>
                Add/Remove tags
            </h2>
            <table>


                <thead>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Options</td>
                </thead>

                <tbody *ngFor="let tag of tagsData | paginate: { itemsPerPage: 5, currentPage: pageTagsNumber , id:'tags'}; let i = index">
                    <td>
                        {{ tag.id }}
                    </td>
                    <td>
                        {{ tag.name }}
                    </td>

                    <td> <button class="btn btn-primary" [hidden]="tag.status" (click)="addTag(tag, i)">Add</button> <button class="btn btn-danger" [hidden]="!tag.status" (click)="removeTag(tag, i)">REMOVE</button></td>


                </tbody>

            </table>
            <div align="right" id="result-page-navigator">
                <pagination-controls class="my-pagination" id="tags" (pageChange)="pageTagsNumber = $event"></pagination-controls>
            </div>
            <button class="btn btn-primary" (click)="submitTags()">submit</button>

        </div>


    </div>
</div>