.row {
    max-width: 100% !important;
    margin-bottom: 0 !important;
}

#tag_section>td {
    text-align: center !important;
}

.image-border {
    margin: 2vh;
    border-color: black;
    width: 90%;
    border-style: solid;
    box-shadow: 10px 12px 5px #34495e;
}

.navbar-brand {
    height: 50px;
    padding: 0px 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.tag_lg {
    padding: 3px 8px;
    left: 5%;
    text-transform: uppercase;
    bottom: 100%;
    position: static;
    display: inline-grid;
    float: left;
    margin-right: 5px;
}

.purple {
    background-color: #5f35ac;
    color: #fff;
}