p {
    color: rgba(0, 0, 0, 1);
}

.contact {
    position: relative;
    padding: 20px 25px 25px 25px;
    background-color: rgba(255, 255, 255, 0);
    border: solid 0px rgba(200, 200, 200, 1);
}

.contact h2 {
    color: rgba(0, 0, 0, 1);
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact .btn {
    margin-top: 30px;
}

.contact .form-watermark {
    position: absolute;
    color: rgba(0, 0, 0, 1);
    right: 20px;
    top: 0px;
    font-size: 72px;
}

.contact .special-input {
    height: 56px;
    border: solid 1px #808080;
    background-color: #ffffff;
    position: relative;
    padding: 2px 2px 5px 8px;
}

.special-input .label-inactive {
    position: absolute;
    color: rgba(0, 0, 0, 1);
    top: 20px;
    padding-left: 12px;
    opacity: 3.2 !important;
}

.special-input label {
    font-weight: 100;
    z-index: 0;
}

.special-input .form-control {
    position: relative;
    height: 70px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    z-index: 10;
}

select.special-input {
    padding-left: 5px;
    background-color: aqua;
}

.contact .btn {
    height: 56px;
}

.has-error {
    border-color: #a94442 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
}

.input-error {
    position: absolute;
    right: 10px;
    top: 20px;
    color: red;
}

.spinner {
    display: block;
    margin: auto;
    border: 12px solid #f3f3f3;
    /* Light grey */
    border-top: 12px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 0px solid #26a69a !important;
    -webkit-box-shadow: 0 0px 0 0 #26a69a !important;
    box-shadow: 0 0px 0 0 #26a69a !important;
}
