<div *ngIf="!name; else forminfo">
    <form class="contact" [formGroup]="rForm" (ngSubmit)="submitpost(rForm.value)">
        <span class="glyphicons glyphicon-envelope form-watermark"></span>
        <h3>How Can We Help?</h3>
        <p>
            Just fill in the form below and we’ll be in touch
        </p>
        <div [@slideInFadeInAnimation] *ngIf="formState == 'active'">
            <div class="form-group special-input" [ngClass]="{'has-error':!rForm.controls['name'].valid && rForm.controls['name'].touched}">
                <label for="nameInput" class="label-inactive" [@moveLabel]="nameState">Name</label>
                <input type="text" class="form-control" id="name" aria-describedby="nameHelp" [formControl]="rForm.controls['name']" (focus)="inputFocusIn($event)" (focusout)="inputFocusOut($event)" required>

                <div [@fadeInAnimation] class="input-error" *ngIf="(rForm.controls['name'].touched && rForm.controls['name'].hasError('required'))">Please enter your full name.</div>
                <div [@fadeInAnimation] class="input-error" *ngIf="(rForm.controls['name'].touched && rForm.controls['name'].hasError('minlength'))">Your full name must be greater than 3 characters.</div>
                <div [@fadeInAnimation] class="input-error" *ngIf="(rForm.controls['name'].touched && rForm.controls['name'].hasError('pattern') && !rForm.controls['name'].hasError('required') && !rForm.controls['name'].hasError('minlength'))">Your name cannot contain numbers.</div>
            </div>
            <div class="form-group special-input" [ngClass]="{'has-error':!rForm.controls['email'].valid && rForm.controls['email'].touched}">
                <label for="emailInput" class="label-inactive" [@moveLabel]="emailState">Email</label>
                <input type="text" class="form-control" id="email" aria-describedby="emailHelp" [formControl]="rForm.controls['email']" (focus)="inputFocusIn($event)" (focusout)="inputFocusOut($event)" required>

                <div [@fadeInAnimation] class="input-error" *ngIf="(rForm.controls['email'].touched && rForm.controls['email'].hasError('required'))">Please enter a valid email address.</div>
                <div [@fadeInAnimation] class="input-error" *ngIf="(rForm.controls['email'].touched && rForm.controls['email'].hasError('email') && !rForm.controls['email'].hasError('required'))">Please enter a valid email format</div>
            </div>
            <div class="form-group special-input" [ngClass]="{'has-error':!rForm.controls['phone'].valid && rForm.controls['phone'].touched}">
                <label for="phoneInput" class="label-inactive" [@moveLabel]="phoneState">Contact Number</label>
                <input type="text" class="form-control" id="phone" aria-describedby="phoneHelp" [formControl]="rForm.controls['phone']" (focus)="inputFocusIn($event)" (focusout)="inputFocusOut($event)" phone required>

                <div [@fadeInAnimation] class="input-error" *ngIf="(rForm.controls['phone'].touched && rForm.controls['phone'].hasError('required'))">Please enter a contact number.</div>
                <div [@fadeInAnimation] class="input-error" *ngIf="(rForm.controls['phone'].touched && rForm.controls['phone'].hasError('minlength') && !rForm.controls['phone'].hasError('pattern'))">Too few digits, please enter you 11 digit number.</div>
                <div [@fadeInAnimation] class="input-error" *ngIf="(rForm.controls['phone'].touched && rForm.controls['phone'].hasError('maxlength') && !rForm.controls['phone'].hasError('pattern'))">Too many digits, please enter your 11 digit number.</div>
                <div [@fadeInAnimation] class="input-error" *ngIf="(rForm.controls['phone'].touched && rForm.controls['phone'].hasError('pattern'))">Please enter a valid contact number.</div>
            </div>
            <div class="form-group special-input" style="      padding-top: 20px;  height: 100px;" [ngClass]="{'has-error':!rForm.controls['phone'].valid && rForm.controls['phone'].touched}">
                <label for="messageInput" class="label-inactive" [@moveLabel]="messageState">Message</label>
                <textarea id="message" style="    height: 74px;" type="text" class="form-control form-style" [formControl]="rForm.controls['message']" (focus)="inputFocusIn($event)" (focusout)="inputFocusOut($event)"></textarea>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Submit</button>

        </div>
    </form>
</div>

<ng-template #forminfo>
    <div class="form-container">
        <div class="row columns">
            <h3>Submission Complete</h3>
            <p>
                Thank you <strong>{{name}}!</strong> for contacting shepherdsplace, we have received your message, one of our decision makers will be in contact at your convenience to dicuss your how we can help. We try to be as responsive as possible.
                We'll get back to you soon.

            </p>
            <p>
                If you would like to speak to us sooner, you can still call us on <a href="07502 671492">07502 671492</a>
            </p>

        </div>
    </div>
</ng-template>



<!-- <form class="contact" [formGroup]="rForm" (ngSubmit)="submitpost(rForm.value)">
    <span class="glyphicons glyphicon-envelope form-watermark"></span>
    <h2>
        How can we help you?
    </h2>
    <p>
        Just fill in the form below and we will contact you back.
    </p>
    <div [@slideInFadeInAnimation] *ngIf="formState == 'active'">
        <div class="form-group special-input" [ngClass]="{'has-error':!rForm.controls['name'].valid && rForm.controls['name'].touched}">
            <label for="nameInput" class="label-inactive" [@moveLabel]="nameState">Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="nameHelp" [formControl]="rForm.controls['name']" (focus)="inputFocusIn($event)" (focusout)="inputFocusOut($event)" required>

            <div [@fadeInAnimation] class="input-error" *ngIf="(rForm.controls['name'].touched && rForm.controls['name'].hasError('required'))">Please enter your full name.</div>
            <div [@fadeInAnimation] class="input-error" *ngIf="(rForm.controls['name'].touched && rForm.controls['name'].hasError('minlength'))">Your full name must be greater than 3 characters.</div>
            <div [@fadeInAnimation] class="input-error" *ngIf="(rForm.controls['name'].touched && rForm.controls['name'].hasError('pattern') && !rForm.controls['name'].hasError('required') && !rForm.controls['name'].hasError('minlength'))">Your name cannot contain numbers.</div>
        </div>
        <div class="form-group special-input" [ngClass]="{'has-error':!rForm.controls['email'].valid && rForm.controls['email'].touched}">
            <label for="emailInput" class="label-inactive" [@moveLabel]="emailState">Email</label>
            <input type="text" class="form-control" id="email" aria-describedby="emailHelp" [formControl]="rForm.controls['email']" (focus)="inputFocusIn($event)" (focusout)="inputFocusOut($event)" required>

            <div [@fadeInAnimation] class="input-error" *ngIf="(rForm.controls['email'].touched && rForm.controls['email'].hasError('required'))">Please enter a valid email address.</div>
            <div [@fadeInAnimation] class="input-error" *ngIf="(rForm.controls['email'].touched && rForm.controls['email'].hasError('email') && !rForm.controls['email'].hasError('required'))">Please enter a valid email format</div>
        </div>
        <div class="form-group special-input" [ngClass]="{'has-error':!rForm.controls['phone'].valid && rForm.controls['phone'].touched}">
            <label for="phoneInput" class="label-inactive" [@moveLabel]="phoneState">Contact Number</label>
            <input type="text" class="form-control" id="phone" aria-describedby="phoneHelp" [formControl]="rForm.controls['phone']" (focus)="inputFocusIn($event)" (focusout)="inputFocusOut($event)" phone required>

            <div [@fadeInAnimation] class="input-error" *ngIf="(rForm.controls['phone'].touched && rForm.controls['phone'].hasError('required'))">Please enter a contact number.</div>
            <div [@fadeInAnimation] class="input-error" *ngIf="(rForm.controls['phone'].touched && rForm.controls['phone'].hasError('minlength') && !rForm.controls['phone'].hasError('pattern'))">Too few digits, please enter you 11 digit number.</div>
            <div [@fadeInAnimation] class="input-error" *ngIf="(rForm.controls['phone'].touched && rForm.controls['phone'].hasError('maxlength') && !rForm.controls['phone'].hasError('pattern'))">Too many digits, please enter your 11 digit number.</div>
            <div [@fadeInAnimation] class="input-error" *ngIf="(rForm.controls['phone'].touched && rForm.controls['phone'].hasError('pattern'))">Please enter a valid contact number.</div>
        </div>
        <div class="form-group">

            <textarea type="text" class="form-control form-style" formControlName="message" style=" height: 80px;" placeholder="Message"></textarea>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </div>
    <div [@slideInFadeInAnimation] *ngIf="formState == 'submitting'">
        <div class="top-center text-center">
            <div class="spinner"></div>
            <h3>Submitting your Request...</h3>
        </div>
    </div>

    <div [@slideInFadeInAnimation] *ngIf="formState == 'complete'">
        <h3>Submission Complete</h3>
        <p>
            Thank you for contacting Braehead Finance, we have received your message, one of our decision makers will be in contact at your convenience to dicuss your how we can help.
        </p>
        <p>
            If you would like to speak to us sooner, you can still call us on
            <a></a>
        </p>
    </div>

    <div [@slideInFadeInAnimation] *ngIf="formState == 'error'">
        <h3>Sorry, An Error Occurred!</h3>
        <p>
            Unfortunately, an error occured whilst trying to submit your callback request. To try sending your form again click the button below. If the problem persists, please call <a href="tel:{{this.config.braeheadPhone}}"><strong>{{this.config.braeheadPhone}}</strong></a>            to process your request immediately.
        </p>
        <button class="btn btn-block" (click)="submit(this.fb)">Retry</button>
    </div>
</form> -->