.row {
    max-width: 100% !important;
}

.ngx-editor[_ngcontent-c4] .ngx-wrapper[_ngcontent-c4] .ngx-editor-textarea[_ngcontent-c4] {
    height: 300% !important;
}

.image-border {
    margin: 2vh;
    border-color: black;
    width: 90%;
    border-style: solid;
    box-shadow: 10px 12px 5px #34495e;
}

a[href="https://www.froala.com/wysiwyg-editor?k=u"] {
    display: none !important;
    position: absolute;
    top: -99999999px;
}