<section class="pad-top">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h2 class="pad-bottom">Yorkshire Orientation Days</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <p>Our Yorkshire Orientation Days are designed for investors who are looking to get a foothold in the Yorkshire property market. You will spend the day with one of our local property market experts, travelling around Yorkshire to look at
                    our work and attend Live Viewings. Live Viewings are a showcase of properties that are on the market now, ripe for investment, selected especially to fit your investment strategy. The biggest testament to our Yorkshire Orientation
                    Day is the high percentage of clients who have gone on to invest in properties viewed on the day. If you are interested in investing in the Yorkshire region then this is the first step.
                    <br> &#8203;
                </p>
                <h3 style="text-align: center;">Call today on : COMPANYNUMBER</h3>
            </div>
            <div class="col-sm-4">
                <app-sidebar></app-sidebar>
            </div>
        </div>
    </div>

</section>