<section>
    <div style=" float: right; padding-left: 30px;" class="dropdown">
        <a style="color: beige" class="nav-link dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li class="nav-item ">
                <a class="nav-link li" (click)="Logout()">Log out</a>
            </li>

        </ul>
    </div>
    <div class=" container-fluid " style="background-color: #2f464f ">

        <div class="text-center " style="padding-top: 60px; padding-bottom: 50px; ">

            <h1 class="header_title " style="color: white; line-height: 100%; font-weight: bold; font-size: 2.5rem; text-transform: uppercase; text-shadow: 2px 2px 8px #000; "> Shepherds Place Admin</h1>

        </div>


    </div>
</section>
<div class=" row">
    <div class="col-md-1">
        <app-sidemenu></app-sidemenu>
    </div>
    <div class="col-md-11">


        <div class="container-fluid ">
            <h1>Tags</h1>
            <div class="row">
                <div class="col-md-6">
                    <collapsible-table [type]="'expandable'" bordered="true" striped>

                        <thead>
                            <collapsible-table-row>
                                <td>Id</td>
                                <td>Name</td>


                            </collapsible-table-row>
                        </thead>

                        <tbody *ngFor="let tag of TagsData | paginate: { itemsPerPage: 10, currentPage: pageNumber }">
                            <collapsible-table-row [detail]="detail" (click)="hideEditForm()" selectMultipleRows="false">
                                <td>
                                    {{ tag.id }}
                                </td>
                                <td>
                                    {{ tag.name }}
                                </td>


                            </collapsible-table-row>
                            <collapsible-table-row-detail #detail [expanded]="false">
                                <div class="container" style="margin:10px 0">
                                    <h3> Options</h3>
                                    <button class="btn btn-primary" (click)="showorhide()">edit</button> <button class="btn btn-danger" (click)="deletetag(tag.id)">delete</button>

                                    <div [hidden]="!editStatus">
                                        <h4>Edit</h4>

                                        <form [formGroup]="addTagForm" (ngSubmit)="updateTag(tag.id)">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" formControlName="name" value="{{tag.name}}" placeholder="Tag Name" required>
                                                <div class="input-group-append">
                                                    <button type="submit" class="btn btn-primary">Update</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </collapsible-table-row-detail>

                        </tbody>
                    </collapsible-table>
                    <div align="right" id="result-page-navigator">
                        <pagination-controls class="my-pagination" (pageChange)="pageNumber = $event"></pagination-controls>
                    </div>
                </div>
                <div class="col-md-6">
                    <div *ngIf="addTagSuccess" class="alert alert-success" style="z-index:9999">
                        <strong>Success!</strong> You should <a href="#" class="alert-link">read this message</a>.
                    </div>
                    <div class="container-fluid">
                        <form [formGroup]="addTagForm" (ngSubmit)="addTag()">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" formControlName="name" placeholder="Tag Name" required>
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary">Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>