.row {
    max-width: 100% !important;
}

td {
    padding: 9px 5px !important;
}

.hide {
    height: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-bottom: none !important;
    box-shadow: none !important;
    overflow: hidden !important;
}

.col-md-3>img {
    height: 180px;
}

.imgactive {
    border: 5px solid #1e7bff;
}

.image-border {
    margin: 2vh;
    border-color: black;
    width: 90%;
    border-style: solid;
    box-shadow: 10px 12px 5px #34495e;
}