<!-- <meta http-equiv="Content-Security-Policy" content="img-src 'self' data:; "> -->

<section>
    <div style=" float: right; padding-left: 30px; " class="dropdown ">
        <a style="color: beige " class="nav-link dropdown-toggle " data-toggle="dropdown "><span class="caret "></span></a>
        <ul class="dropdown-menu ">
            <li class="nav-item ">
                <a class="nav-link li " (click)="Logout() ">Logout</a>
            </li>

        </ul>
    </div>
    <div class=" container-fluid " style="background-color: #2f464f ">

        <div class="text-center " style="padding-top: 60px; padding-bottom: 50px; ">

            <h1 class="header_title " style="color: white; line-height: 100%; font-weight: bold; font-size: 2.5rem; text-transform: uppercase; text-shadow: 2px 2px 8px #000; "> Shepherds Place Admin</h1>

        </div>


    </div>
</section>
<div class=" row ">
    <div class="col-md-1 ">
        <app-sidemenu></app-sidemenu>
    </div>
    <div class="col-md-11 ">


        <div class="container-fluid ">
            <h1>File</h1>
            <div class="row ">
                <div class="col-md-8 ">
                    <div *ngFor="let item of filesData let i = index">
                        <div *ngIf="i % 4==0" class="row">
                            <div class="col-md-3" (click)="selectImage(filesData[i])"><img width="100%" height="180px" src="{{apilink}}/public/file/{{filesData[i].id}} " [ngClass]="{'imgactive': filesData[i].id==selectedImage.id}"> </div>

                            <div class="col-md-3" *ngIf=" i + 1 < filesData.length" (click)="selectImage(filesData[i+1])"><img width="100%" src="{{apilink}}/public/file/{{filesData[i + 1].id}}" [ngClass]="{'imgactive': filesData[i+1].id==selectedImage.id}"></div>

                            <div class="col-md-3" *ngIf="i + 2 < filesData.length" (click)="selectImage(filesData[i+2])"><img width="100%" src="{{apilink}}/public/file/{{filesData[i + 2].id}}" [ngClass]="{'imgactive': filesData[i+2].id==selectedImage.id}"></div>

                            <div class="col-md-3" *ngIf=" i + 3 < filesData.length" (click)="selectImage(filesData[i+3])"><img width="100%" src="{{apilink}}/public/file/{{filesData[i + 3].id}}" [ngClass]="{'imgactive': filesData[i+3].id==selectedImage.id}"></div>

                        </div>
                    </div>


                </div>
                <div class="col-md-4 ">

                    <div class="container-fluid ">
                        <section style="margin-top: 10px; ">
                            <div class="container">
                                <div class="row ">
                                    <collapsible-list [type]=" 'accordion' " style="border-top: 0px solid #ddd; 
                             border-right: 0px solid #ddd; 
                             border-left: 0px solid #ddd; 
                             box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0 rgba(0, 0, 0, 0.12), 0 0px 0px 0px rgba(0, 0, 0, 0.2); ">

                                        <collapsible-list-item id="property-development ">
                                            <collapsible-header class="waves-effect " (click)="selectedImageStatus=false; selectedImage={'id':null};">
                                                <div class="row ">
                                                    <div class="col-md-6 ">
                                                        <button class="btn btn-primary btn-block ">Add New File
                                                </button>


                                                    </div>
                                                </div>


                                            </collapsible-header>
                                            <collapsible-body [expanded]="false ">
                                                <section class="home-bgs " style="padding-top: 40px; ">



                                                    <div class="row row-padding ">
                                                        <div class="contact-form-div">
                                                            <form [formGroup]="addFileForm " (ngSubmit)="addFile() ">
                                                                <div class="input-group mb-3 ">
                                                                    <input type="file" name="fileInput" (change)="handleFileSelect($event)" #fileInput formControlName="fileData" placeholder="insert image " />
                                                                    <div class="input-group-append ">
                                                                        <div>
                                                                            {{fileResult}}
                                                                        </div>
                                                                        <button type="submit " class="btn btn-primary ">Submit</button>
                                                                    </div>
                                                                </div>
                                                            </form>

                                                        </div>
                                                    </div>
                                                </section>
                                            </collapsible-body>
                                        </collapsible-list-item>
                                    </collapsible-list>
                                </div>
                            </div>
                        </section>

                    </div>

                    <div class="container-fluid" [hidden]="!selectedImageStatus">
                        <div class="card card-profile">
                            <div>
                                <div class="image-border">
                                    <img style=" height: 400px;" src="{{apilink}}/public/file/{{selectedImage.id}}" width="100%" class="product-img">
                                </div>
                            </div>
                            <button type="button" (click)="ProcessFile()" class="btn btn-{{processData.buttonType}} ">{{processData.buttonMessage}}</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>