<div id="top"></div>
<app-header></app-header>
<section>

    <div class="container-fluid " style="background-color: #2f464f">
        <!-- <div class="row"> -->
        <!-- <div class="search-container">

            <button type="submit" (click)="submit()"><i class="fa fa-search"></i></button> <input type="text" id="search" placeholder="Search Tags.." name="search" filterName="label">

        </div> -->
        <div class="text-center" style="padding-top: 60px;     padding-bottom: 50px;">


            <h1 style="font-size: 2.5rem;" class="header_title">Welcome to the Shepherds Place Blog</h1>


            <!-- </div> -->
        </div>


    </div>
</section>
<ngx-ui-loader></ngx-ui-loader>

<section id="feature_news_section" class="feature_news_section" style="margin-top:30px;" *ngIf="showblog" ng-ts-spinner>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="feature_article_wrapper">
                    <div class="feature_article_img" (click)="viewBlog(featuredblog)">
                        <img width="100%" style="height:70vh" class="img-responsive top_static_article_img" src="{{apilink}}{{featuredblog.files[0].id}}" alt="feature-top">
                    </div>
                    <!-- feature_article_img -->

                    <div class="feature_article_inner">
                        <ul>
                            <li *ngFor="let tag of featuredblog.tags">
                                <div class="tag_lg red">
                                    <a [routerLink]="['/single-blog', featuredblog.id, featuredblog.headerUrl]">{{tag.name}}</a>
                                </div>
                            </li>
                        </ul>
                        <div class="header_title">

                            <h1><br><a [routerLink]="['/single-blog', featuredblog.id, featuredblog.headerUrl]" fragment="top">{{featuredblog.header}} </a></h1>
                        </div>
                        <!-- feature_article_title -->

                        <div class="feature_article_date"><a href="#" target="_self"> By{{featuredblog.author}}</a>, <a href="#" target="_self">{{featuredblog.publishDate| date : "dd MMMM yyyy"}}</a></div>
                        <!-- feature_article_date -->

                        <div class="feature_article_content">
                            {{featuredblog.shortContent}}
                        </div>
                        <!-- feature_article_content -->

                        <div class="article_social">
                            <span><i class="fa fa-share-alt"></i><a href="#">{{featuredblog.shares}}</a>Shares</span>
                            <span><i class="fa fa-comments-o"></i><a href="#">{{featuredblog.comment}}</a>Comments</span>
                            <span><i class="fas fa-eye"></i><a href="#">{{featuredblog.visits}}</a> Visits</span>
                        </div>
                        <!-- article_social -->

                    </div>
                    <!-- feature_article_inner -->

                </div>
                <!-- feature_article_wrapper -->

            </div>
            <!-- col-md-7 -->

            <!-- <div class="col-md-5">
                <div class="feature_static_wrapper">
                    <div class="feature_article_img">
                        <img width="100%" class="img-responsive" src="./assets/img/{{testarray[1].img}}" alt="feature-top">
                    </div>
                   

                    <div class="feature_article_inner" style="bottom:51%">
                        <div class="tag_lg purple"><a href="">Top Viewed</a></div>
                        <div class="feature_article_title">
                            <h1><a [routerLink]="['/single-blog','1']" fragment="top" target="_self">{{testarray[1].name}} </a></h1>
                        </div>
                       

                        <div class="feature_article_date"><a href="#" target="_self">{{testarray[1].author}}</a>,<a href="#" target="_self">{{testarray[1].date}}</a></div>
                 

                        <div class="feature_article_content">
                            When looking for something to invest in there is a tendency ...
                        </div>
                        

                        <div class="article_social">
                            <span><i class="fa fa-share-alt"></i><a href="#">20</a>Shares</span>
                            <span><i class="fa fa-comments-o"></i><a href="#">2</a>Comments</span>
                        </div>
                

                    </div>
                  
                </div>
             
                <div class="feature_static_last_wrapper">
                    <div class="feature_article_img">
                        <img width="100%" class="img-responsive" src="./assets/img/{{testarray[2].img}}" alt="feature-top">
                    </div>
                   

                    <div class="feature_article_inner">
                        <div class="tag_lg blue"><a href="">Top Viewed</a></div>

                        <div class="feature_article_title">
                            <h1><a [routerLink]="['/single-blog','2']" fragment="top" target="_self">{{testarray[2].name}}</a></h1>
                        </div>
                       

                        <div class="feature_article_date"><a href="#" target="_self">{{testarray[2].author}}</a>,<a href="#" target="_self">{{testarray[2].date}}</a></div>
                        

                        <div class="feature_article_content">
                            Shepherds Place has recently expanded. With this addition, the in-house team has ...
                        </div>
                    

                        <div class="article_social">
                            <span><i class="fa fa-share-alt"></i><a href="#">200</a>Shares</span>
                            <span><i class="fa fa-comments-o"></i><a href="#">2</a>Comments</span>
                        </div>
                  

                    </div>
             

                </div>
             

            </div> -->


        </div>

    </div>
    <!-- container -->

</section>
<section>

    <div class="container-fluid " style="background-color: #2f464f">

        <div class="text-center" style="padding-top: 60px;     padding-bottom: 50px;">

            <h1 style="font-size: 2.5rem;" class="header_title">More Blog Entries
            </h1>



        </div>

    </div>
</section>
<section id="category_section" class="category_section" *ngIf="showblog">
    <div class="container">
        <div class="row" style="    width: 80%;
        margin-left: auto;
        margin-right: auto;">
            <div class="col-md-12">
                <div class="category_section mobile">

                    <!----article_title------>
                    <div class="category_article_wrapper" *ngFor="let blog of blogData  | paginate: { itemsPerPage: 5, currentPage: pageBlogNumber , id:'blog'}">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="top_article_img">
                                    <a (click)="viewBlog(blog)" fragment="top" target="_self"><img class="img-responsive" style=" width: 100%; height: 100%;" src="{{apilink}}{{blog.files[0].id}}" alt="feature-top">
                                    </a>
                                </div>
                                <!----top_article_img------>
                            </div>
                            <div class="col-md-7 ">
                                <!-- <span class="tag purple">property development</span> -->
                                <ul>
                                    <li *ngFor="let tag of blog.tags">
                                        <div class="tag_lg purple">
                                            <a [routerLink]="['/bloglist-of-tag', tag.name ]">{{tag.name}}</a>
                                        </div>
                                    </li>
                                </ul>

                                <div class="category_article_title">
                                    <h2> <br><a [routerLink]="['/single-blog',blog.id, blog.headerUrl]" fragment="top" target="_self">{{blog.header}}</a></h2>
                                </div>
                                <!----category_article_title------>
                                <div class="category_article_date"><a [routerLink]="['/single-blog',blog.id, blog.headerUrl]">{{blog.publishDate| date : "dd MMMM yyyy"}}</a>, by: <a [routerLink]="['/single-blog',blog.id, blog.headerUrl]">{{blog.author}}</a></div>
                                <!----category_article_date------>
                                <div class="category_article_content">
                                    {{blog.shortContent}}
                                </div>
                                <!----category_article_content------>
                                <div class="media_social">
                                    <span><a [routerLink]="['/single-blog',blog.id, blog.headerUrl]"><i class="fa fa-share-alt"></i>{{blog.shares}} </a> Shares</span>
                                    <span><a [routerLink]="['/single-blog',blog.id, blog.headerUrl]"><i class="fa fa-comments-o"></i>{{blog.commentCount}}</a> Comments</span>
                                    <span><a [routerLink]="['/single-blog',blog.id, blog.headerUrl]"><i class="fas fa-eye"></i>{{blog.visits}}</a> Visits</span>
                                </div>
                                <!----media_social------>
                            </div>
                        </div>
                    </div>
                    <div align="center" id="result-page-navigator">

                        <pagination-controls class="my-pagination" id="blog" (pageChange)="pageBlogNumber = $event"></pagination-controls>
                    </div>
                </div>
            </div>


            <!-- Left Section -->

            <!-- <div class="col-md-4" [hidden]="true">
                <div class="widget">
                    <div class="widget_title widget_black">
                        <h2><a href="#">Other Popular Entries</a></h2>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img class="media-object" src="./assets/img/{{testarray[6].img}}" alt="Generic placeholder image"></a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">
                                <a [routerLink]="['/single-blog','6']" fragment="top" target="_self">{{testarray[6].name}}</a>
                            </h3> <span class="media-date"><a href="#">{{testarray[6].date}}</a>,  by: <a href="#">{{testarray[6].author}}</a></span>

                            <div class="widget_article_social">
                                <span>
                            <a [routerLink]="['/single-blog','6']" fragment="top"  target="_self"> <i class="fa fa-share-alt"></i>{{testarray[6].shares}}</a> Shares
                        </span>
                                <span>
                            <a [routerLink]="['/single-blog','6']" fragment="top" target="_self"><i class="fa fa-comments-o"></i>{{testarray[6].comment}}</a> Comments
                        </span>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img class="media-object" src="./assets/img/{{testarray[7].img}}" alt="Generic placeholder image"></a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">
                                <a [routerLink]="['/single-blog','7']" (click)="reload()" fragment="top" target="_self">{{testarray[7].name}}</a>
                            </h3>
                            <span class="media-date"><a href="#">{{testarray[7].date}}</a>,  by: <a href="#">{{testarray[7].author}}</a></span>

                            <div class="widget_article_social">
                                <span>
                            <a [routerLink]="['/single-blog','7']" fragment="top"  target="_self"> <i class="fa fa-share-alt"></i>{{testarray[7].shares}}</a> Shares
                        </span>
                                <span>
                            <a [routerLink]="['/single-blog','7']" fragment="top"  target="_self"><i class="fa fa-comments-o"></i>{{testarray[7].comment}}</a> Comments
                        </span>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img class="media-object" src="./assets/img/{{testarray[8].img}}" alt="Generic placeholder image"></a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">
                                <a [routerLink]="['/single-blog','8']" fragment="top" target="_self">{{testarray[8].name}}</a>
                            </h3>
                            <span class="media-date"><a href="#">{{testarray[8].date}}</a>,  by: <a href="#">{{testarray[6].author}}</a></span>

                            <div class="widget_article_social">
                                <span>
                            <a [routerLink]="['/single-blog','8']" fragment="top"  target="_self"> <i class="fa fa-share-alt"></i>424</a> Shares
                        </span>
                                <span>
                            <a [routerLink]="['/single-blog','8']" fragment="top"  target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                        </span>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img class="media-object" src="./assets/img/{{testarray[9].img}}" alt="Generic placeholder image"></a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">
                                <a [routerLink]="['/single-blog','9']" fragment="top" target="_self">{{testarray[9].name}}</a>
                            </h3>
                            <span class="media-date"><a href="#">{{testarray[9].date}}</a>,  by: <a href="#">{{testarray[9].author}}</a></span>

                            <div class="widget_article_social">
                                <span>
                            <a  [routerLink]="['/single-blog','9']" fragment="top" target="_self"><i class="fa fa-share-alt"></i>{{testarray[9].shares}}</a> Shares
                        </span>
                                <span>
                            <a  [routerLink]="['/single-blog','9']" fragment="top" target="_self"><i class="fa fa-comments-o"></i>{{testarray[9].comment}}</a> Comments
                        </span>
                            </div>
                        </div>
                    </div>
                    <p class="widget_divider"><a href="#" target="_self">More News&nbsp;&raquo;</a></p>
                </div>
               



            </div> -->
        </div>
    </div>




</section>


<app-footer></app-footer>