<section class="home-bg header-banner" style="background-image: url('./assets/img/iStock-166053798.jpg');" id="home">
    <app-header></app-header>
    <h1 class="banner-tag-line">
        Welcome to Shepherds Place

    </h1>
    <h3 style="    text-shadow: 2px 2px #060101;

    ">
        Yorkshire Property Developer, Property and Investment Sourcer
    </h3>
    <div class="downArrow bounce">
        <!-- <img width="40" height="40" alt="" src="./assets/img/navigate_down2.png" /> -->
        <a routerLink="/" fragment="below">
            <fa style="font-size: 60px; color: white;" name="angle-double-down"></fa>
        </a>

    </div>


</section>

<!-- <div class="container-fluid" style="background-color: #2f464f">
    <div class="row">
        <div class="col-sm-12 text-center" style="padding-top: 40px;     padding-bottom: 30px;">

            <h1 class="banner-tag-line">
                Helping You Sell Your House

            </h1>
        </div>
    </div>
</div> -->
<section class="pad-top" style="padding-top: 70px;" [hidden]="true" id="below">
    <div class="container">
        <div>
            <div class="text-center">
                <h2 class="pad-bottom">We Buy Any House</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <a href="#">
                    <div class="img-container">
                        <img src="./assets/img/speedy-evaluation.png" class="img-responsive">
                    </div>
                    <h3>Get a valuation and cash offer</h3>
                    <p>Our property purchasing team will conduct research into the local property market and use this information to make you the best possible cash offer for your property allowing you to achieve a quick house sale</p>
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="#">
                    <div class="img-container">
                        <img src="./assets/img/acceptance-offer.png" class="img-responsive">
                    </div>
                    <h3>Sign & return your acceptance of offer</h3>
                    <p>Once you accept our quick house sale cash offer for your property we will start the buying process which could be completed within 28 days! What’s more, we’ll include up to £1000 towards your legal fees!*</p>
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="#">
                    <div class="img-container">
                        <img src="./assets/img/receive-cash.png" class="img-responsive">
                    </div>
                    <h3>Receive the cash</h3>
                    <p>As the property buyers we’ll visit your home to verify the details you’ve supplied us with and complete in a time scale that is convenient for you! Get moving and sell your house fast, get your quick house sale cash offer now!</p>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="testimonial" class="pad-top pad-bottom" [hidden]="true">
    <div class="container-fluid">
        <div>
            <div class=" text-center">
                <h2 class="pad-bottom">What Customers Say</h2>
            </div>
        </div>
        <div class="row" style="    padding-bottom: 20px;">
            <div class="col-sm-6">
                <div class="testimonial-container">
                    <div class="col-sm-3 ">
                        <div class="testimonial-img">
                            <img src="./assets/img/people.jpg" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-sm-9 testimonial-text">
                        <p>Nulla consequat massa quis enim. Donec pede justo, frinnec, vulputate eget, arcu. In enim juerdiet a, venenatis vitae, justo.</p>
                        <p>
                            <strong>Ben M. Rentals</strong>
                            <br/> Marketing – <a href="#"><strong>WikiTravel</strong></a>
                        </p>
                    </div>
                </div>
                <div class="testimonial-container">
                    <div class="col-sm-3 ">
                        <div class="testimonial-img">
                            <img src="./assets/img/people.jpg" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-sm-9 testimonial-text">
                        <p>Nulla consequat massa quis enim. Donec pede justo, frinnec, vulputate eget, arcu. In enim juerdiet a, venenatis vitae, justo.</p>
                        <p>
                            <strong>Ben M. Rentals</strong>
                            <br/> Marketing – <a href="#"><strong>WikiTravel</strong></a>
                        </p>
                    </div>
                </div>
                <div class="testimonial-container">
                    <div class="col-sm-3 ">
                        <div class="testimonial-img">
                            <img src="./assets/img/people.jpg" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-sm-9 testimonial-text">
                        <p>Nulla consequat massa quis enim. Donec pede justo, frinnec, vulputate eget, arcu. In enim juerdiet a, venenatis vitae, justo.</p>
                        <p>
                            <strong>Ben M. Rentals</strong>
                            <br/> Marketing – <a href="#"><strong>WikiTravel</strong></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="testimonial-container">
                    <div class="col-sm-3 ">
                        <div class="testimonial-img">
                            <img src="./assets/img/people.jpg" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-sm-9 testimonial-text">
                        <p>Nulla consequat massa quis enim. Donec pede justo, frinnec, vulputate eget, arcu. In enim juerdiet a, venenatis vitae, justo.</p>
                        <p>
                            <strong>Ben M. Rentals</strong>
                            <br/> Marketing – <a href="#"><strong>WikiTravel</strong></a>
                        </p>
                    </div>
                </div>
                <div class="testimonial-container">
                    <div class="col-sm-3 ">
                        <div class="testimonial-img">
                            <img src="./assets/img/people.jpg" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-sm-9 testimonial-text">
                        <p>Nulla consequat massa quis enim. Donec pede justo, frinnec, vulputate eget, arcu. In enim juerdiet a, venenatis vitae, justo.</p>
                        <p>
                            <strong>Ben M. Rentals</strong>
                            <br/> Marketing – <a href="#"><strong>WikiTravel</strong></a>
                        </p>
                    </div>
                </div>
                <div class="testimonial-container">
                    <div class="col-sm-3 ">
                        <div class="testimonial-img">
                            <img src="./assets/img/people.jpg" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-sm-9 testimonial-text">
                        <p>Nulla consequat massa quis enim. Donec pede justo, frinnec, vulputate eget, arcu. In enim juerdiet a, venenatis vitae, justo.</p>
                        <p>
                            <strong>Ben M. Rentals</strong>
                            <br/> Marketing – <a href="#"><strong>WikiTravel</strong></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="pad-bottom pad-top" id="below"></div>
<br/>

<div style="padding-top: 50px">
</div>


<section class="firstrow">
    <div class="container row row-padding">
        <div class="col-sm-6">
            <div><img src="./assets/img/iStock-166011968.jpg" class="img-responsive"></div>
        </div>
        <div class="col-sm-6 text-left">
            <h3>We Will Buy Any House </h3>
            <br/>
            <p>Shepherds Place is a Property Developer and Investment Sourcer operating in the Yorkshire region. </p>
            <p>We are always on the look out for new houses to buy. <strong>We’ll buy any house</strong> at the right price. If you are looking to sell a house in Yorkshire then we’d love to hear from you. </p>

        </div>
    </div>
</section>
<section class="secondrow">
    <div class="container row row-padding" style="padding-top: 40px; padding-bottom: 30px">
        <div class="col-sm-6 text-left" style=" color: white;">
            <h3>We Source Investment Properties </h3>
            <br/>
            <p> Whether you are just starting to build up your portfolio or you are a well established investor we have the right deals for you. Take a look at some of our properties <a href="http://propertyhelperuk.co.uk/"> here </a> on our dedicated website.
            </p>

        </div>

        <div class="col-sm-6 ">
            <div><img src="./assets/img/iStock-151629399.jpg" class="img-responsive"></div>
        </div>
    </div>
</section>
<section class="third-row ">
    <div class="container row row-padding">
        <div class="col-sm-6 ">
            <div><img src="./assets/img/iStock-166053245.jpg" class="img-responsive"></div>
        </div>

        <div class="col-sm-6 text-left ">
            <h3>Yorkshire Orientation Day </h3>
            <p><strong>Our Yorkshire Orientation Day</strong> is aimed at introducing potential investors to the Yorkshire property market. We tailor the days to our clients’ specific investment strategies and our local property experts show them properties
                that are currently on the market that suit their strategy. Please get in touch to book your Yorkshire Orientation Day.
                <a href="/#contact-us">Click here </a> to contact us for more information.
            </p>

        </div>
    </div>
</section>

<app-footer></app-footer>