<section>
  <div style=" float: right; padding-left: 30px;" class="dropdown">
      <a style="color: beige" class="nav-link dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
      <ul class="dropdown-menu">
          <li class="nav-item ">
              <a class="nav-link li" (click)="Logout()">Comment</a>
          </li>

      </ul>
  </div>
  <div class=" container-fluid " style="background-color: #2f464f ">

      <div class="text-center " style="padding-top: 60px; padding-bottom: 50px; ">

          <h1 class="header_title " style="color: white; line-height: 100%; font-weight: bold; font-size: 2.5rem; text-transform: uppercase; text-shadow: 2px 2px 8px #000; "> Shepherds Place Admin</h1>

      </div>


  </div>
</section>
<div class=" row">
  <div class="col-md-1">
      <app-sidemenu></app-sidemenu>
  </div>
  <div class="col-md-11">


      <div class="container-fluid ">
          <h1>Tags</h1>
          <div class="row">
              <div class="col-md-6">
 
                  <collapsible-table [type]="'expandable'" bordered="true" *ngIf="Status" striped>

                      <thead>
                          <collapsible-table-row>
                              <td>Comment by</td>
                              <td>Blog</td>


                          </collapsible-table-row>
                      </thead>

                      <tbody *ngFor="let comment of commentData | paginate: { itemsPerPage: 10, currentPage: pageNumber }">
                        
                          <collapsible-table-row [detail]="detail" selectMultipleRows="false">
                              <td>
                                  {{ comment.name }}
                              </td>
                              <td>
                                  {{ comment.blogEntryTitle }}
                              </td>
                          </collapsible-table-row>
                          <collapsible-table-row-detail #detail [expanded]="false">
                          
                              <div class="container" style="margin:10px 0">
                               <p> <strong>Comment By:</strong>    {{comment.name}}</p>
                               <p> <strong>Email:</strong>    {{comment.email}}</p>
                               <p>   <strong>Visible:</strong>    {{comment.visible}}</p>
                               <p> <strong>Date Published:</strong>   {{comment.dateCreated|date : "dd MMMM yyyy"}}</p>
                               <p>  <strong>Comment:</strong>    {{comment.comment}}</p>
                                  <h3> Options</h3>
                                  <button class="btn btn-primary" [hidden]="comment.visible" (click)="showComment(comment.id)">Show Comment</button> 
                                  <button class="btn btn-danger" (click)="deleteComment(comment.id)">delete</button>

                               
                              </div>
                          </collapsible-table-row-detail>

                      </tbody>
                  </collapsible-table>
                  <div align="right" id="result-page-navigator">
                      <pagination-controls class="my-pagination" (pageChange)="pageNumber = $event"></pagination-controls>
                  </div>
              </div>
              <!-- <div class="col-md-6">
               
                  <div class="container-fluid">
                      <form [formGroup]="addTagForm" (ngSubmit)="addTag()">
                          <div class="input-group mb-3">
                              <input type="text" class="form-control" formControlName="name" placeholder="Tag Name" required>
                              <div class="input-group-append">
                                  <button type="submit" class="btn btn-primary">Add</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div> -->
          </div>
      </div>
  </div>