.row {
    max-width: 100% !important;
}

td {
    padding: 9px 5px !important;
}

.hide {
    height: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-bottom: none !important;
    box-shadow: none !important;
    overflow: hidden !important;
}